.icon-button {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  font-size: 20px;
  &:hover {
    background-color: var(--background-color);
  }
}